<div class="container">
    <table class="table table-bordered table-hover" ng-if="achats.length>0">
        <thead class="thead-inverse">
            <tr class="active">
                <th>QUANTITE</th>
                <th>TITRE</th>
                

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="achat in achats track by $index">

                <td> {{achat.qte}} </td>
                <td> {{achat.name.title}} </td>
              
        



            </tr>
        </tbody>

    </table>
    
</div>